{% load static %}
<!DOCTYPE html>
<html> <!--cuerpo principal de la pagina-->
    <head> <!--tag para incluir archivos de JS, CSS o archivos que no muestran contenido --> 
        {% csrf_token %}
        <title>{% block title %}{% endblock %} - Django first website</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>  
        
        <ul class="nav">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Navbar</span>
            </div>
            {% if user.is_authenticated %}
            <li class="nav-item__logout">
                <label>Session of: {{ user.username }}</label>
                <span><a class="nav-link active" href='logout'>Log Out</a></span>
            </li>
            {% else %}
            <li class="nav-item">
                <span><a class="nav-link active" href='register'>Register</a></span>
            </li>
            <li class="nav-item">
                <span><a class="nav-link active" href='login'>Log In</a></span>
            </li>
            {% endif %}
        </ul>
    </head>
    
    <body> <!--tag que SI muestra contenido en nuestra web-->
        {% csrf_token %}
        {% block content %}
        <h1>Jugando con {{ context.item1 }} {{ context.item2 }}</h1> <!--Data estatica desde diccionarios creados en views.py-->
        <br>
        <h1>Jugando con variables dinamicas y request GET</h1>
        <form method="post" action="counter"> <!--Data dinamica que es ingresada y redireccionada a otra ruta-->
            <textarea name="text" rows="2" cols="50"></textarea><br>
            <input type="submit"/>
        </form>

        <table>
            <tr>
              <th>Title</th>
              <th>Critic</th>
              <th>Score</th>
            </tr>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.critic }}</td>
                <td>{{ movie.score }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endblock %}
        <script src="{% static 'bootstrap.min.js' %}"></script>  
    </body>
    
</html>